<!-- Container #1 (see wireframe) -->
<md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>

    <h1>
        <md-icon md-svg-src="assets/svg/neteasy.svg" style="width:32px;height:32px;"></md-icon>
        网易云音乐
    </h1>
    <md-button class="md-raised md-primary" aria-label="Use Android">
        <md-icon md-svg-src="assets/svg/back.svg"></md-icon>
    </md-button>
    <md-button class="md-raised md-primary" aria-label="Use Android">
        <md-icon md-svg-src="assets/svg/forward.svg"></md-icon>
    </md-button>
    <md-autocomplete md-selected-item="$ctrl.selectedItem" md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)" md-search-text="$ctrl.searchText" md-selected-item-change="$ctrl.selectedItemChange(item)" md-items="item in $ctrl.querySearch($ctrl.searchText)"
        md-item-text="item.display" md-min-length="0" placeholder="搜索音乐，歌手，歌词，用户">
        <md-item-template>
            <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
            No states matching "{{$ctrl.searchText}}" were found.
            <a ng-click="$ctrl.newState($ctrl.searchText)">Create a new one!</a>
        </md-not-found>
    </md-autocomplete>
</md-toolbar>